.popular__content {
    margin: 199px auto 0;
}
.popular__content-title {
    p {
        @include font-style ($main-color,15px,$main-font,500,none)
    }
}
.popular__content-blocks {
    @extend %grid-row;
    justify-content: space-between;
    grid-template-columns: repeat(4,270px);
    grid-template-rows: 445px;
    text-align: center;
    margin-top: 63px;
}
.popular__content-block {
    border: 2px solid $border-color;
    // opacity: 0.25; didnt work (used opasity in everythink block)
    .fruit {
        margin-top: 25px;
    }
    h4 {
        margin-top: 41px;
        @include font-style ($main-color,20px,$main-font,400,none)
    }
    p {
        margin-top: 25px;
        @include font-style ($base-color,20px,$main-font,400,none)
    }
}
.buy-now {
    width: 177px;
    height: 57px;
    border: 2px solid $base-color;
    background: none;
    margin-top: 29px;
    img {
        padding-left: 31.19px;
    }
    @include font-style ($base-color,16px,$main-font,400,none)
    
}