@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
$base-color: #06C167;
$white-color: #FFFFFF;
$main-color: #1D1D1F;
$main-font:"Inter", sans-serif;
$line-color: #707070;
$input-color: #F0F1EC;
$canvas-bg: #F3FAFB;
$block-bg: #F3FCF7;
$variety-button-bg: #E6F9F0;
$border-color: #767675;